<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <h1>teste</h1>

    
        <div class="messages"></div>
        <form class="messageForm">
            <input type="text" name="messages" id="messsageInput" class="messsageInput" placeholder="digite sua mensagem">
            <button type="submit" class="btn">Enviar</button>
        </form>

    <div class="dados">
        <h2>dados do usuario: </h2> 
        <h3>sala: <strong class="roomName"><%= room %></strong></h3> 
         
        <h3>nick do usuario: <strong class="userName"><%= user %></strong></h3>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
    <script src="chat.js"></script>
</body>
</html>
