* {
    font-family: 'poppins', sans-serif;
}

.name { 
    position: absolute;
    left: 50%;
    transform: translate(-60%);
}
 
:root {
    --button-color: #4CAF50;
    --tamanho-fonte: 16px;
}

input[name="Adam"] {
    background-color: transparent;
    color: #000;
    font-weight: 800;
}

.Rooms {
    position: absolute;
    top: 15vh;
    width: 45vw;
    height: 66vh;
    text-align: center;
}
.buttonCreateAcount {
    background-color: #4CAF50;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 20.5vw;
    height: 10vh;
}

.Rooms > .form > input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 20.5vw;
    height: 10vh;
}

.Rooms > .form > label {
    display: block;
    position: relative;
    left: -1vw;
    font-size: 28px;
    font-weight: 300;
    width: 25vw;
    user-select: none;
}

.Rooms > .form > input {
    display: block;
    font-size: 28px;
    width: 20vw;
    text-align: center;
}

.form {
    position: relative;
    top: 10%;
    left: 60%;
    text-align: center;
    width: 20vw;
    transform: translate(-75%);
}


.moreAcess {
    position: absolute;
    top: 15vh;
    left: 60%;
}

.moreAcess > 
h1,
.room {
    position: relative;
    left: 5vw;
}

.moreAcess > 
.room > form > input[name="roomName"] {
    height: 5.5vh;
    color: #000;
    font-size: 18px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    user-select: none;
}

.moreAcess > 
.room > form > button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 12vw;
    height: 6vh;
}